*{
 margin: 0;
 padding: 0;
 box-sizing:
 border-box
}

.primeira-sessao{
    background-color: rgba(239, 208, 31, 0.884);
    // largura: 
    width: 500px;
    height: 500px;
// allinhamento ou nesting
div{
   background-color: rgb(10, 10, 217);
   width: 50vw;
   height: 50vh; 
//    vw e vh são relativos a tela
}
// usando medias relativas
// VW ( viewport width)
// largura da janela de exibição
// 1vw é igual a 1% da largura da sua página

// vh (viewport height) altura
// altura da janela de visualização
}

.segunda-sessao{
    background-color: rgb(5, 63, 25);
    height: 60vw;
    width: 60vw;
    // alinhamento no sass
    div{
background-color: bisque;
// % porcentagem
// relativa ao pai
width: 50%;
height: 50%;
    }
}

